* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 110px;
  border: blue dashed 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  margin-top: 50px;
}
.stop {
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  border: solid blue 2px;
  box-shadow: rgba(88, 15, 233, 0.253) 3px 3px, rgba(88, 15, 233, 0.253) 3px 4px;
  z-index: 1;
}
.stop:hover {
  cursor: pointer;
  background-color: rgb(19, 19, 230);
}
.continue {
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  border: solid blue 2px;
  box-shadow: rgba(88, 15, 233, 0.253) 3px 3px, rgba(88, 15, 233, 0.253) 3px 4px;
  display: none;
}
.continue:hover {
  cursor: pointer;
  background-color: rgb(19, 19, 230);
}
