* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 110px;
  border: blue dashed 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  margin-top: 50px;
}
